<div class="project-item wow fadeInUp">
            <img src="{{fields.field_image.content}}" alt="project">
            <div class="project-overlay">
              <div class="project-info">
                <a href="{{fields.view_node.content}}"><i class="fa fa-link"></i></a>
                <a href="{{fields.field_image.content}}" class="project-popup"><i class="fa fa-eye"></i></a>
                <h4>{{fields.title.content}}</h4>
                <p>{{fields.body.content}}</p>
              </div>
            </div>
          </div>