
              <li>
                <img src="{{fields.field_image.content}}" class="img-fluid">
                <div class="recent-post-caption">
                  <h4><a href="{{fields.view_node.content}}">{{fields.title.content}}</a></h4>
                  <span>{{fields.created.content}}<i>{{fields.comment_count.content}} Comments</i></span>  
                </div>
              </li>