<section id="contact">
    <div class="container">
      <div class="row">     
        <!-- Contact-form -->
        <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInDown" data-wow-delay="0.3s">
          <div class="get-in-touch title-section">
            <h2 class="title text-center">{{content.field_title.0}}</h2>
            {{content.field_body.0}}
            {{content.field_form.0}}
          </div>
        </div> 
        <!-- contact-form-end -->   

        <!-- goolgle map-end --> 
        <div class="col-xl-8 col-lg-8 col-md-12 wow fadeInRight" data-wow-delay="0.2s"> 
          <div id="map" class="animate-box" data-animate-effect="fadeIn">
            {{content.field_map_iframe.0}}
          </div>  
        </div> 
        <!-- goolgle map-end -->   

        <!-- Get-in-touch --> 
        <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInLeft contact-two-bg" data-wow-delay="0.4s">
          <div class="contact-info">
            <i class="fa fa-map-marker"></i>{{content.field_description.0}}
            <i class="fa fa-envelope"></i>{{content.field_emails.0}}
            <i class="fa fa-phone"></i>{{content.field_phone_numbers.0}}
            <i class="fa fa-clock-o"></i>{{content.field_working_hours.0}}
          </div>
        </div>
        <!-- Get-in-touch end--> 

      </div>
    </div>
  </section>