<div class="item">
  <i class="fas fa-quote-right"></i>
  {{content.field_body.0}}
  <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_candidates_image['#items'].alt }}" title="author-name" class="img-fluid">
  <h4>{{content.field_title.0}} <b>{{content.field_video_url.0}}</b></h4>
</div>