<div class="col-lg-3 col-md-6 col-sm-12">
  <div class="plans-item text-center">
    <h3>{{content.field_title.0}}</h3>
      <div class="pricing">
        <span>{{content.field_icon.0}}{{content.field_counter_value.0}}<em>&nbsp;&#47;&nbsp;{{content.field_per.0}}</em></span>
      </div>
      {{content.field_body.0}}
    <a href="{{ content.field_button[0]['#url']|render }}" class="custom-btn">{{ content.field_button[0]['#title']|render }}</a>
  </div>
</div>