<!-- service-details -->
{{ content.field_services_banner.0 }}
  <section id="service-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 co-sm-12 col-xs-12 mx-auto">
          <div class="service-caption">
            <img src="{{content.field_image.0}}" class="img-fluid" title="service-details" alt="service-details">
            <h3>{{ label }}</h3>
            {{ content.body }}
          </div>
        </div>
      </div>
    </div>
  </section> 
    {{ content.field_enquiry.0 }}
    {{ content.field_faq.0 }}